:root {
    --primary-background-color: #1c1c1c;
    --seconday-background-color: #222222;
    --terceary-background-color: #232323;
    --hover-background-color: #282828;
    --primary-foreground-color: #fff;
    --seconday-foreground-color: rgb(112, 112, 112);
    --primary-border-color: #505050;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

body {
    font-size: 15px;
    background-color: var(--primary-background-color);
    color: var(--primary-foreground-color);
}

input {
    display: block;
    padding: 0.5em 0.75em 0.5em 0.75em;

    border: 0.0625em solid #3e3e3e;
    border-radius: .375rem;
    outline: 0.125em solid transparent;
    outline-offset: 0.125em;

    color: inherit;
    font-family: inherit;
    background-color: var(--seconday-background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

input:focus {
    border-color: var(--primary-border-color);
}

.scrollBar::-webkit-scrollbar {
    width: 0.2em
}

.scrollBar::-webkit-scrollbar-track {
    background: var(--primary-background-color);
}

.scrollBar::-webkit-scrollbar-thumb {
    background: var(--primary-border-color);
}