.sideBar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-right: 0.1em solid var(--primary-border-color);
}

.sideBar__title {
    text-align: center;
}


.sideBar__main {
    display: flex;
    flex-direction: column;
    gap: 1em;

    flex-grow: 1;
}
